<!doctype html>
<html ng-app="RobbleApp">
  <head>
    <title>Robble</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css" />
    <link rel="stylesheet/less" type="text/css" href="/static/styles.less" />

    <script src="//code.jquery.com/jquery-1.9.1.js"></script>
    <script src="//code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
    <script src="//cdn.firebase.com/v0/firebase.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/less.js/1.5.0/less.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.4/angular.js"></script>

    <script src="/static/app.js"></script>
    <script src="/static/controllers/chat.js"></script>
    <script src="/static/directives/focus.js"></script>
    <script src="/static/third-party/angular-ui-utils.js"></script>
  </head>
  <body ng-controller="ChatController">
    <div ng-hide="readyToChat" class="setup">
      <h1>Robble</h1>
      <input type="text" class="user" focus-on="setupNeeded" ng-model="userName" placeholder="Your name" ui-keypress="{13: 'setupComplete()'}" />
      <button class="btn btn-primary" ng-disabled="!userName" ng-click="setupComplete()">Let's Chat</button>
    </div>
    <ul class="chat-list" ng-show="readyToChat">
      <li ng-repeat="message in messages">
        <b>{{message.name}}:</b> {{message.text}}
      </li>
    </ul>
    <div class="input-area" ng-show="readyToChat">
      <div class="input-container">
        <input type="text" class="text" focus-on="readyToChat" ng-model="textToSend" placeholder="Chat here" ui-keypress="{13: 'sendMessage()'}" />
      </div>
      <button class="btn btn-primary" ng-click="sendMessage()">Send</button>
    </div>
  </body>
</html>
